@font-face {
    font-family: 'SF Pro Text';
    src: url('../../fonts/Medium/SFProText-Medium.woff2') format('woff2'),
        url('../../fonts/Medium/SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../../fonts/Light/SFProText-LightItalic.woff2') format('woff2'),
        url('../../fonts/Light/SFProText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../../fonts/Medium/SFProText-MediumItalic.woff2') format('woff2'),
        url('../../fonts/Medium/SFProText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../../fonts/Heavy/SFProText-Heavy.woff2') format('woff2'),
        url('../../fonts/Heavy/SFProText-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../../fonts/Regular/SFProText-Regular.woff2') format('woff2'),
        url('../../fonts/Regular/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../../fonts/Heavy/SFProText-HeavyItalic.woff2') format('woff2'),
        url('../../fonts/Heavy/SFProText-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../../fonts/Regular/SFProText-RegularItalic.woff2') format('woff2'),
        url('../../fonts/Regular/SFProText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../../fonts/Light/SFProText-Light.woff2') format('woff2'),
        url('../../fonts/Light/SFProText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../../fonts/Bold/SFProText-BoldItalic.woff2') format('woff2'),
        url('../../fonts/Bold/SFProText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../../fonts/Medium/SFProText-Medium.woff2') format('woff2'),
        url('../../fonts/Medium/SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../../fonts/SemiBold/SFProText-Semibold.woff2') format('woff2'),
        url('../../fonts/SemiBold/SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../../fonts/SemiBold/SFProText-SemiboldItalic.woff2') format('woff2'),
        url('../../fonts/SemiBold/SFProText-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../../fonts/Bold/SFProText-Bold.woff2') format('woff2'),
        url('../../fonts/Bold/SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}