/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/modules/_fonts.scss';

// colors
$bg-color: #F8F8F8;
$primary-color: #FF6B03;
$menu-item-color: #666666;
$white-color: #FFFFFF;
$card-title-color: #333333;
$card-time-color: #999999;

// fonts
$primary-font: 'SF Pro Text';

// font-weight
$thin:100;
$light:300;
$regular:400;
$medium:500;
$bold:700;
$black:900;

// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

html {
    background-color: $bg-color;
}

body {
    margin: 8px 20px;
}

* {
    font-family: $primary_font;
    font-size: $primary-fs;
    font-weight: $regular;
}

jb-menu {
    font-size: 12px;
    --jb-menu-padding-bottom: 32px;
    --jb-menu-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    --jb-menu-bg-color: #{$white-color};
    --jb-menu-item-selected-color: #{$primary-color};
    --jb-menu-item-color: #{$menu-item-color};
    --jb-menu-item-icon-width: 32px;
    --jb-menu-item-icon-height: 32px;
    --jb-menu-item-p-margin-top: 0;
}

jb-header {
    --jb-header-p-padding-top: 8px;
    --jb-header-p-padding-bottom: 8px;
    --jb-header-left-container-font-weight: #{$medium};
}

jb-product-card-list {
    --jb-product-card-list-container-item-button-primary-bg: #{$primary-color};
    --jb-product-card-list-container-item-button-primary-color: #{$bg-color};
    --jb-product-card-list-container-item-button-border-radius: 20px;
    --jb-product-card-list-horizontal-container-item-data-container-margin-left: 24px;
    --jb-product-card-list-horizontal-container-item-image-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    --jb-product-card-list-vertical-container-item-image-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    --jb-product-card-list-container-item-data-container-title-font-weight: #{$medium};
    --jb-product-card-list-container-item-image-border-radius: 8px;
    --jb-product-card-list-horizontal-container-item-data-container-title-font-size: 16px;
    --jb-product-card-list-vertical-container-item-data-container-title-font-size: 16px;
    --jb-product-card-list-horizontal-container-item-data-container-description-font-size: 13px;
    --jb-product-card-list-container-item-data-container-description-color: #{$menu-item-color};
    --jb-product-card-list-container-item-data-container-title-color: #{$card-title-color};
    --jb-product-card-list-container-item-data-container-footer-left-color: #{$card-time-color};
    --jb-product-card-list-container-item-button-padding-vertical: 4px;
    --jb-product-card-list-container-item-button-padding-horizontal: 10px;
    --jb-product-card-list-container-item-data-container-footer-left-font-size: 12px;
    --jb-product-card-list-container-item-data-container-footer-right-font-size: 12px;
    --jb-product-card-list-container-item-main-container-min-height: 105px;
}

iron-image {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 50%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  }