/* You can add global styles to this file, and also import other style files */

$bgColor: #F8F8F8;
$primaryColor: #FF6B03;
$menuItemColor: #666666;
$whiteColor: #FFFFFF;

html {
    background-color: $bgColor;
}

jb-menu {
    --jb-menu-padding-bottom: 32px;
    --jb-menu-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    --jb-menu-bg-color: #{$whiteColor};
    --jb-menu-item-selected-color: #{$primaryColor};
    --jb-menu-item-color: #{$menuItemColor};
}
